@page "/"

<h1>Hello Franziska Juchmes! </h1>

<h2>This is a web application for Exercise 3 </h2>
<p>The librarian can use this to:</p>
<p>1)Register books</p>
<p>2)Find book by ISBN </p>
<p>3)See all books by Room, Row or Shelf</p>
